<head>
  <title>Home: iCard</title>
</head>
<section class="overflow-hidden text-gray-700">
  <div class="container lg:pt-12 lg:px-32">
    <div class="flex flex-wrap --------">

        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="basepoketemplate.png">
        </div>
      </div>


    
  </div>
</section>