<head>
  <title>Create Your Own</title>
</head>
<section class="overflow-hidden text-gray-700">
  <div class="container lg:px-32">
    <div class="md:flex no-flex-wrap md:columns-2 items-center --------">

      <div class="relative flex flex-wrap h-1/5 justify-center items-center">
        <div class="w-2/5">
          <img alt="gallery" class="block object-cover object-center rounded-lg" src="/userBuildCard.jpg">
        </div>

      <div id="pokeCardForm" class="container bg-blue-300 bg-opacity-50 rounded-lg px-5 py-5">
        
      {{!-- change the form action later on --}}
      <form>
        <Label for="name" class="text-sm font-medium text-gray-700">Name:</Label>
        <input type="text" id="name" name="name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
      
        <br><br>
        
        <Label for="hp" class="text-sm font-medium text-gray-700">Health Points:</Label>
        <input type="text" id="hp" name="hp" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
      
        <br><br>
    
        <Label for="type" class="text-sm font-medium text-gray-700">Type:</Label>
        <select name="type" id="type" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
          <option value="normal">Normal</option>
          <option value="fire">Fire</option>
          <option value="water">Water</option>
          <option value="grass">Grass</option>
          <option value="electric">Electric</option>
          <option value="lightning">Lightning</option>
          <option value="fighting">Fighting</option>
          <option value="pyschic">Psychic</option>
          <option value="darkness">Darkness</option>
          <option value="metal">Metal</option>
          <option value="dragon">Dragon</option>
          <option value="fairy">Fairy</option>
        </select>
        
        <br><br>
        <hr>
        <br>
        <div>
          <Label for="image" class="text-sm font-medium text-gray-700">Upload your picture:</Label>
          <input
            type="file"
            name="image"
            id="input-image"
            class="form-control-file border"
          />
        </div>
        
        <br>
        <hr>
        <br>
        
        <Label for="attack1name" class="text-sm font-medium text-gray-700">Attack 1 Name:</Label>
        <input type="attack1name" id="attack1name" name="attack1name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
      
        <br><br>
    
        <Label for="attack1damage" class="text-sm font-medium text-gray-700">Damage</Label>
        <select name="attack1damage" id="attack1damage" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
          <option value="10">10</option>
          <option value="10+">10+</option>
          <option value="10x">10x</option>
          <option value="20">20</option>
          <option value="20+">20+</option>
          <option value="20x">20x</option>
          <option value="30">30</option>
          <option value="30+">30+</option>
          <option value="30x">30x</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
          <option value="70">70</option>
          <option value="80">80</option>
          <option value="90">90</option>
          <option value="100">100</option>
          <option value="120">120</option>
          <option value="150">150</option>
          <option value="200">200</option>
        </select>
      
        <br><br>
    
        <Label for="attack1description" class="text-sm font-medium text-gray-700">Attack 1 Description:</Label>
        <input type="attack1description" id="attack1description" name="attack1description" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
    
        <br><br>
        <hr>
        <br>

        <Label for="attack2name" class="text-sm font-medium text-gray-700">Attack 2 Name:</Label>
        <input type="attack2name" id="attack2name" name="attack2name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
    
        <br><br>
    
        <Label for="attack2damage" class="text-sm font-medium text-gray-700">Damage</Label>
        <select name="attack2damage" id="attack2damage" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">
          <option value="10">10</option>
          <option value="10+">10+</option>
          <option value="10x">10x</option>
          <option value="20">20</option>
          <option value="20+">20+</option>
          <option value="20x">20x</option>
          <option value="30">30</option>
          <option value="30+">30+</option>
          <option value="30x">30x</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
          <option value="70">70</option>
          <option value="80">80</option>
          <option value="90">90</option>
          <option value="100">100</option>
          <option value="120">120</option>
          <option value="150">150</option>
          <option value="200">200</option>
        </select>
    
        <br><br>
    
        <Label for="attack2description" class="text-sm font-medium text-gray-700">Attack 2 Description:</Label>
        <input type="attack2description" id="attack2description" name="attack2description" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-md">

        <br><br>
        <div class="px-4 py-3 text-right sm:px-6">
        <button id="newCard" type="submit-btn" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Generate</button>
        </div>
      </form>                   
    
  </div>
</section>

<script src="/newcard.js"></script>

{{!-- class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" --}}