
{{#each PokeCards as |PokeCard|}}
<div class=" list-item flex-row justify-space-between">

  <ul>
    <li>
      {{PokeCard.name}}
      {{PokeCard.type}}
      {{PokeCard.image}}
    </li>
  </ul>

</div>

{{/each}}
 