<head>
  <title>Home: iCard</title>
</head>

  <section class="invisible sm:visible overflow-hidden">
    <div class="flex">
      <div class="m-auto">
        <h1 class="text-gray-200 rounded-md text-4xl font-semibold my-32 italic drop-shadow-2xl">Create Custom Cards From Your Favorite Games</h1>
        <img src="/uploads/b9b09a4ac8cb824d0b976440b434c2ba">
      </div>
    </div>
    <div class="container lg:px-10">
      <div class="flex flex-wrap -space-x-20 justify-center" id="mainPageTemplates">
        <div class="relative flex flex-wrap w-1/5 z-0">
          <div class="w-full">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg drop-shadow-xl" src="/pokemon_backgrounds/psychicpoketemplate.png">
          </div>
        </div>
        <div class="relative flex flex-wrap w-1/5 z-10">
          <div class="w-full">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg drop-shadow-xl"
              src="/pokemon_backgrounds/grasspoketemplate.png">
          </div>
        </div>
        <div class="relative flex flex-wrap w-1/5 z-20">
          <div class="w-full">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg drop-shadow-xl"
              src="/pokemon_backgrounds/waterpoketemplate.png">
          </div>
        </div>
        <div class="relative flex flex-wrap w-1/5 z-10">
          <div class="w-full">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg drop-shadow-xl"
              src="/pokemon_backgrounds/firepoketemplate.png">
          </div>
        </div>
        <div class="relative flex flex-wrap w-1/5 z-0">
          <div class="w-full">
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg drop-shadow-xl" src="/pokemon_backgrounds/dragonpoketemplate.png">
          </div>
        </div>

        
        
      </div>
    </div>

</div>
<div class="flex items-center justify-center mt-5">
  {{!-- <button type="button"
    class="inline-flex items-center justify-center  rounded-md text-gray-200 hover:text-white bg-gray-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white mt-5"
    aria-controls="showMoreHomePage" aria-expanded="false" onclick="change()" onclick="expand()">
    <span class="sr-only">Show More</span><span>See More/Less</span>
  </button> --}}
</div>

<div class="visible sm:hidden">
<div class="container">
<div class="flex flex-wrap justify-center items-center -space-y-32 -mt-96">
  <div class="flex">
    <div class="-mt-20 mb-5 text-center">
      <h1 class="text-gray-200 rounded-md text-4xl font-semibold mb-32 italic drop-shadow-2xl">Create Custom Cards From Your
        Favorite Games</h1>
    </div>
  </div>
<div class="relative flex flex-wrap h-1/5 z-50 justify-center items-center">
  <div class="w-2/5">
    <img alt="gallery" class="block object-cover object-center rounded-lg" src="/pokemon_backgrounds/dragonpoketemplate.png">
  </div>
</div>
<div class="relative flex flex-wrap h-1/5 z-40 justify-center items-center">
  <div class="w-2/5">
    <img alt="gallery" class="block object-cover object-center rounded-lg" src="/pokemon_backgrounds/grasspoketemplate.png">
  </div>
</div>
<div class="relative flex flex-wrap h-1/5 z-30 justify-center items-center">
  <div class="w-2/5">
    <img alt="gallery" class="block object-cover object-center rounded-lg" src="/pokemon_backgrounds/waterpoketemplate.png">
  </div>
</div>
<div class="relative flex flex-wrap h-1/5 z-20 justify-center items-center">
  <div class="w-2/5">
    <img alt="gallery" class="block object-cover object-center rounded-lg" src="/pokemon_backgrounds/firepoketemplate.png">
  </div>
</div>
<div class="relative flex flex-wrap h-1/5 z-10 justify-center items-center">
  <div class="w-2/5">
    <img alt="gallery" class="block object-cover object-center rounded-lg" src="/pokemon_backgrounds/fighterpoketemplate.png">
  </div>
</div>
</div>

</div>
</div>

</section>

{{!-- <script>
  const expand = document.getElementById('expandedMainPage');
  const change = () => expand.classList.toggle("hidden");
</script> --}}